

.logo{
    display:block ;
    margin: auto;
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 15px;
}
.container{
    max-width: 950px;
    background-color:aquamarine;
    margin: auto;
    height: 70vh;
}
.msg{
    background-color:grey;
    width: 24%;
    padding: 1px;
    margin: 17px 12px;
    border:2px solid grey;
    border-radius: 10px;
}
.left{
    float:left;
    clear:both;
}
.right{
    float:right;
    clear:both;
}

#send-container{
    display: block;
    margin:auto;
    text-align: center;
    max-width: 950px;
    width: 100%;
}

#msginput{
    width:92%;
    border:2px solid grey;
    border-radius: 10px;
}